Link {
    text-decoration: none;
    color: white;
}

#container_allFriends {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-image: url('darkspace.jpg');
    background-size: cover;
    font-family: "Cousine";
    color: white;
}

#yourself {
    height: 400px;
    width: 400px;
    position: fixed;
    z-index: 0;
}

#addFriendsText {
    width: 30vw;
    font-size: 12px;
    position: fixed;
    color: white;
    text-align: center;
    font-family: "Cousine";
    font-size: 13px;
}

#addFriend {
    padding: 5px 10px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px black;
    color: rgba(0,0,0,0.8);
    font-size: 12px;
}

#friendList {
    margin-top: -80px;
    margin-left: -100px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friendImage {
    width: 30px;
    height: 30px;
    background-size: cover;
}

#close {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
}

.sunny {
    background-image: linear-gradient(to right top, #ff4e50, #ff713e, #ff932b, #ffb41d, #f9d423);
    //opacity: 0.5;
}
.cloudy {
    background-image: linear-gradient(to right top, #63747c, #71858e, #7f96a0, #8da8b2, #9bbac5);
    //opacity: 0.5;
}
.rainy {
    background-image: linear-gradient(to right top, #637c7b, #718e8c, #7ea09e, #8db2b0, #9bc5c3);
   // opacity: 0.5;
}